---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact
  order: 4
---

<div class="container fluid">
  <h1 class="col align-self-center">Contact Me</h1>
  <div class="row">
    <div class="col-6 align-self-center">
      <form name="contact" method="POST" netlify>
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" id="name" name="name" placeholder="John" required/>
        <label class="form-label" for="surname">surname</label>
        <input class="form-control" type="text" id="surname" name="surname" placeholder="Smith" required/>
        <label class="form-label" for="email">Email Address</label>
        <input class="form-control" type="email" id="email" name="email" placeholder="name@example.com" required/>
        <label for="formMessage" class="form-label">Enter your message</label>
        <textarea class="form-control" id="formMessage" rows="3"></textarea>
        <div class="row align-items-end">
          <div class="col-3">
            <input type="submit" value="Submit"/>
            <input type="reset" value="Reset"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>